body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}

.cinepolis-header {
  background-color: #0318d3;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.cinepolis-form-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.cinepolis-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.cinepolis-button,
.cinepolis-button-secundario
{
  background-color: #0318d3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  display: inline-block;
}

.cinepolis-button:hover {
  background-color: #0318d3;
}

.cinepolis-total {
  font-size: 18px;
  text-align: right;
}

.cinepolis-error{
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
